---
layout: default 
hide_hero: true
menubar: data_menu
---
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{site.url}}{{site.baseurl}}">Evolv-ED</a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/data/">Data</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.long}}</a></li>
  </ul>
</nav>

<div class="content">
<h1>{{page.long}}</h1>

<p>
{{page.description}}
</p>

{% for subcat in page.subcategories%}

<hr>
<div>
<h2>{{subcat.long}}</h2>


{% assign thiscateg = site.data.data | where: 'subcategory', subcat.id  %}

<div class="tile is-ancestor" style="flex-wrap: wrap;">

{% for dat in thiscateg %}

<div class="tile is-3" style="padding: 10px">
<a href="{{site.url}}{{site.baseurl}}/data/{{dat.id | downcase}}.html">
<div class="card">
  <div class="card-image">
    <figure class="image is-300x300">
      <img
        src="{{site.url}}{{site.baseurl}}/{{dat.logo}}"
        alt="Placeholder image"
		style="padding:20px"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p style="text-align:center">{{dat.long}}</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


{% endfor %}

</div>
{% endfor %}

</div>

</div>
